/*
Generic reset.
*/

* {
	padding: 0;
	margin: 0;
}

.test {
	border: 5px red solid;
	padding: 10;
	margin: 10;
	font-family: "Times New Roman";
	font-style: italic;
}


/*
Styles for labels on nodes
*/

.node-label, .input-label, .output-label {
  alignment-baseline: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 10pt;
  stroke-width: 1;
}

.node-label { text-anchor: middle; }
.input-label { text-anchor: start; } /* left */
.output-label { text-anchor: end; } /* NOT right */



/*
Styles for nodes and terminals.
*/

.node-rect {
	stroke: black;
	stroke-width: 2;
	fill: white;
	fill: url(#nodeBackgroundGradient);
}

.mouseover-node-rect {
	stroke: black;
	stroke-width: 4;
}

.selected-node-rect {
	stroke: red;
	stroke-width: 3;
}

.terminal,
.terminal-circle {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.terminal-hover,
.mouseover-terminal-circle {
    /*fill: white;
    stroke: black;*/
    stroke-width: 3;
}

/*

7483 Four-bit Adder IC.
consult the datasheet for the IC..
you can look for a 7483 datasheet online
*/

/*
Style for wires.
*/

.wire {
}

/*.teal-wire {
	stroke: teal;
}*/
.wire,
.wire-line {
	stroke: gray !important;
	stroke-width: 4;
	fill: transparent;
}	

.wire-hover,
.mouseover-wire-line {
	stroke: gray;
	stroke-width: 6;
	fill: transparent;
}	

.wire-selected,
.selected-wire-line {
	stroke: red;
	stroke-width: 4;
	fill: transparent;
}	

.metal-tip,
.wiretip, .wire-tip,
.wire-endpoint {
	fill: gray;
}

.wiretip-selected,
.selected-wire-endpoint {
	fill: red;
}	
.wiretip-hover,
.mouseover-wire-endpoint {
	fill: gray;
}

/*
Style for the wire being dragged out.
*/

.dragging-wire {
	pointer-events: none;
}

.wire-dragging,
.dragging-wire-line {
	stroke: gray;
	stroke-width: 3;
	fill: transparent;
}	
.wiretip-dragging,
.dragging-wire-endpoint {
	fill: gray;
}

/*
The element (in this case the SVG element)
that contains the draggable elements.
*/

.draggable-container {
	border: solid 1px blue;
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
	stroke: blue;
	stroke-width: 2;
	fill: transparent;
}