<html>
	<head>
		<title>AngularJS-FlowChart</title>

		<!-- LiveReload support.  http://livereload.com/ 35729-->
		<script src="http://localhost:8888/livereload.js?snipver=1">
		</script>

<style>
#container {
	width: 100%;
	/*overflow: hidden;*/
}
#json-view {
	min-width: 185px;
	width: 15%;
	/*float: left;*/
	display: inline-block;
	position: relative;
}

#json-view textarea {
	width: 100%;
	height: 100%;
}
#chart-view {
	/*width: 900px;*/

	min-width: 515px;
	width: 80%;
	
	/*margin-left: 250px;*/
	display: inline-block;
	position: relative;
}
#flow-chart {
	/*margin: 5px;*/
	width: 100%;
	height: 100%;
}
</style>

<script src="chart-data.js"></script>

	</head>	
	<body 
		ng-app="app" 
		ng-controller="AppCtrl"
		mouse-capture
		ng-keydown="keyDown($event)"
		ng-keyup="keyUp($event)"
		>

		<header>
<!-- still stubs, no functionality yet -->
		    	<button ng-click="addPiece('AND')">+ AND</button>
		    	<button ng-click="addPiece('OR')">+ OR</button>
		    	<button ng-click="addPiece('XOR')">+ XOR</button>
		    	<button ng-click="addPiece('NOR')">+ NOR</button>
		    	<button ng-click="addPiece('NOT')">+ NOT</button>
		    	<button ng-click="addPiece('HSTI-NOT')">+ HSTI NOT</button>
		    	<button ng-click="addPiece('ADDER')">+ ADDER</button>
		    	<button ng-click="addPiece('SWITCH')">+ SWITCH</button>
		    	<button ng-click="addPiece('LED')">+ LED</button>

		    	<!--
    			<button
    				ng-click="addNewNode()"
    				title="Add a new node to the chart"
    				>
    				Add Node
				</button>
    			<button
    				ng-click="addNewInputTerminal()"
    				ng-disabled="chartViewModel.getSelectedNodes().length == 0"
    				title="Add a new input terminal to the selected node"
    				>
    				Add Input Terminal
				</button>
    			<button
    				ng-click="addNewOutputTerminal()"
    				ng-disabled="chartViewModel.getSelectedNodes().length == 0"
    				title="Add a new output terminal to the selected node"
    				>
    				Add Output Terminal
				</button>
				-->
    			<button
    				ng-click="deleteSelected()"
    				ng-disabled="chartViewModel.getSelectedNodes().length == 0 && chartViewModel.getSelectedWires().length == 0"
    				title="Delete selected nodes and wires"
    				>
    				Delete Selected
				</button>
		</header>

		<div id="container">

		    <div id="json-view"> 
				<textarea chart-json-edit view-model="chartViewModel">
				</textarea>
			</div>

		    <div id="chart-view">

				<!-- This custom element defines the flowchart. -->
			    <flow-chart id="flow-chart" chart="chartViewModel">
			    </flow-chart>
		    </div>

		</div>

		<link rel="stylesheet" href="app.css">

		<!-- Library code. -->
		<script src="lib/jquery-2.0.2.js"></script>
		<script src="lib/angular.js"></script>

		<!-- Flowchart code. -->
		<script src="debug.js"></script>
		<script src="flowchart/svg_class.js"></script>
		<script src="flowchart/mouse_capture_service.js"></script>
		<script src="flowchart/dragging_service.js"></script>
		<script src="flowchart/flowchart_viewmodel.js"></script>
		<script src="flowchart/flowchart_directive.js"></script>

		<!-- App code. -->
		<script src="app.js"></script>
	</body>
</html>