<svg 
  class="draggable-container"
  xmlns="http://www.w3.org/2000/svg"
  ng-mousedown="mouseDown($event)"
  ng-mousemove="mouseMove($event)"  
  >

  <defs>
<!-- spreadMethod defines how the gradient is spread out through the shape. 3 possible values: pad, repeat, and reflect. 'pad' means that the first/last color of the gradient is padded (spread out) before and after the gradient.-->
    <linearGradient 
      spreadMethod="pad" 
      y2="0" 
      x2="0" 
      y1="1" 
      x1="0" 
      id="nodeBackgroundGradient"
      >
      <stop 
        offset="0" 
        stop-opacity="0.99609" 
        stop-color="#56aaff"
        />
        <stop 
        offset="0.63934" 
        stop-opacity="0.99219" 
        stop-color="#d0d0e5"
        />
    </linearGradient>
  </defs>


<style>



/*
 <g transform="rotate(90,0,0) translate(-60,20)">

    <g opacity="0.3">
        <path d="M134.231,44.02
                 c0,1.1-0.9,2-2,2
                 h-82.258
                 c-1.1,0-2-0.9-2-2
                 v1.065
                 c0-1.1,0.9-2,2-2
                 h82.258
                 c1.1,0,2,0.9,2,2
                 z"/>
    </g>
    <path class="chip-body" d="M134.231,42.52
                               c0,1.1-0.9,2-2,2
                               h-82.258
                               c-1.1,0-2-0.9-2-2
                               V19.565
                               c0-1.1,0.9-2,2-2
                               h82.258
                               c1.1,0,2,0.9,2,2
                               z"/>

    <g class="chip-circles">
      <circle cx="64" cy="31" r="4"></circle>
      <circle  cx="120" cy="31" r="4"></circle>
    </g>

    
    <g class="pins">
        <path  d="M54.228,15.02c-0.55,0-1,0.45-1,1l0,0c0,0.55,0,1,0,1h6c0,0,0-0.45,0-1l0,0c0-0.55-0.45-1-1-1H54.228z"/>
        <path  d="M64.228,15.02c-0.55,0-1,0.45-1,1l0,0c0,0.55,0,1,0,1h6c0,0,0-0.45,0-1l0,0c0-0.55-0.45-1-1-1H64.228z"/>
        <path  d="M74.228,15.02c-0.55,0-1,0.45-1,1l0,0c0,0.55,0,1,0,1h6c0,0,0-0.45,0-1l0,0c0-0.55-0.45-1-1-1H74.228z"/>
        <path  d="M84.228,15.02c-0.55,0-1,0.45-1,1l0,0c0,0.55,0,1,0,1h6c0,0,0-0.45,0-1l0,0c0-0.55-0.45-1-1-1H84.228z"/>
        <path  d="M94.228,15.02c-0.55,0-1,0.45-1,1l0,0c0,0.55,0,1,0,1h6c0,0,0-0.45,0-1l0,0c0-0.55-0.45-1-1-1H94.228z"/>
        <path  d="M104.228,15.02c-0.55,0-1,0.45-1,1l0,0c0,0.55,0,1,0,1h6c0,0,0-0.45,0-1l0,0c0-0.55-0.45-1-1-1H104.228z"/>
        <path  d="M114.228,15.02c-0.55,0-1,0.45-1,1l0,0c0,0.55,0,1,0,1h6c0,0,0-0.45,0-1l0,0c0-0.55-0.45-1-1-1H114.228z"/>
        <path  d="M124.228,15.02c-0.55,0-1,0.45-1,1l0,0c0,0.55,0,1,0,1h6c0,0,0-0.45,0-1l0,0c0-0.55-0.45-1-1-1H124.228z"/>
        <path  d="M128.228,47.02c0.55,0,1-0.45,1-1l0,0c0-0.55,0-1,0-1h-6c0,0,0,0.45,0,1l0,0c0,0.55,0.45,1,1,1H128.228z"/>
        <path  d="M118.228,47.02c0.55,0,1-0.45,1-1l0,0c0-0.55,0-1,0-1h-6c0,0,0,0.45,0,1l0,0c0,0.55,0.45,1,1,1H118.228z"/>
        <path  d="M108.228,47.02c0.55,0,1-0.45,1-1l0,0c0-0.55,0-1,0-1h-6c0,0,0,0.45,0,1l0,0c0,0.55,0.45,1,1,1H108.228z"/>
        <path  d="M98.228,47.02c0.55,0,1-0.45,1-1l0,0c0-0.55,0-1,0-1h-6c0,0,0,0.45,0,1l0,0c0,0.55,0.45,1,1,1H98.228z"/>
        <path  d="M88.228,47.02c0.55,0,1-0.45,1-1l0,0c0-0.55,0-1,0-1h-6c0,0,0,0.45,0,1l0,0c0,0.55,0.45,1,1,1H88.228z"/>
        <path  d="M78.228,47.02c0.55,0,1-0.45,1-1l0,0c0-0.55,0-1,0-1h-6c0,0,0,0.45,0,1l0,0c0,0.55,0.45,1,1,1H78.228z"/>
        <path  d="M68.228,47.02c0.55,0,1-0.45,1-1l0,0c0-0.55,0-1,0-1h-6c0,0,0,0.45,0,1l0,0c0,0.55,0.45,1,1,1H68.228z"/>
        <path  d="M58.228,47.02c0.55,0,1-0.45,1-1l0,0c0-0.55,0-1,0-1h-6c0,0,0,0.45,0,1l0,0c0,0.55,0.45,1,1,1H58.228z"/>
        
        
        
    </g> <!-- / #pins -->
    
    </g>
    */
</style>

  <g
    ng-repeat="ic in chart.nodes"
    ng-mousedown="nodeMouseDown($event, ic)"
    ng-attr-transform="translate({{ic.x()}}, {{ic.y()}})">
    <rect
      ng-attr-class="ic-rect {{ic.selected() && 'selected-ic-rect' || (ic == mouseOverNode && 'mouseover-ic-rect' || 'ic-rect')}}"
      ng-attr-ry="{{ic.cornerRad()}}"
      ng-attr-rx="{{ic.cornerRad()}}"
      x="0" y="0" 
      ng-attr-width="{{ic.width()}}" 
      ng-attr-height="{{ic.height()}}"
      />
      <!--fill="url(#nodeBackgroundGradient)"-->

      <!--g class="chip-circles">
      <circle cx="64" cy="31" r="4"></circle>
      <circle  cx="120" cy="31" r="4"></circle>
    </g-->


    <text class="ic-label"
      ng-attr-x="{{ic.width()/2}}"
      ng-attr-y="{{ic.defaultLabelHeight()}}">
      {{ic.name()}}
    </text>

    <g
      class="terminal input-terminal"
      ng-repeat="terminal in ic.inputTerminals"
      ng-mousedown="terminalMouseDown($event, ic, terminal, $index, true)">

      <text class="input-label"
        ng-attr-x="{{terminal.x() + ic.defaultLabelOffset()}}" 
        ng-attr-y="{{terminal.y()}}">
        {{terminal.name()}}
      </text>
      
      <circle class="terminal-circle"  
        ng-attr-class="{{terminal == mouseOverTerminal && 'mouseover-terminal-circle' || 'terminal-circle'}}"
        ng-attr-r="{{terminalSize}}" 
        ng-attr-cx="{{terminal.x()}}"
        ng-attr-cy="{{terminal.y()}}"/>
    </g>

    <g
      class="terminal output-terminal"
      ng-repeat="terminal in ic.outputTerminals"
      ng-mousedown="terminalMouseDown($event, ic, terminal, $index, false)">
      <text class="output-label"
        ng-attr-x="{{terminal.x() - ic.defaultLabelOffset()}}" 
        ng-attr-y="{{terminal.y()}}">
        {{terminal.name()}}
      </text>

      <circle class="terminal-circle"            
        ng-attr-class="{{terminal == mouseOverTerminal && 'mouseover-terminal-circle'}}"
        ng-attr-r="{{terminalSize}}" 
        ng-attr-cx="{{terminal.x()}}"
        ng-attr-cy="{{terminal.y()}}"/>
    </g>
  </g>


  <g>
  <!--ng-attr-class="{{wire.color}}"-->
    <g
      class="wire"
      ng-repeat="wire in chart.wires"
      ng-mousedown="wireMouseDown($event, wire)">
        <path
          ng-attr-class="{{wire.selected() && 'selected-wire-line' || (wire == mouseOverWire && 'mouseover-wire-line' || 'wire-line')}}"
          ng-attr-d="M {{wire.sourceCoordX()}}, {{wire.sourceCoordY()}}
                     C {{wire.sourceTangentX()}}, {{wire.sourceTangentY()}}
                       {{wire.destTangentX()}}, {{wire.destTangentY()}}
                       {{wire.destCoordX()}}, {{wire.destCoordY()}}"
          ng-attr-style="stroke: {{wire.color()}};"/>
        <circle
            ng-attr-class="{{wire.selected() && 'selected-wire-endpoint' || (wire == mouseOverWire && 'mouseover-wire-endpoint' || 'wire-endpoint')}}"
            ng-attr-r="{{wireEndpointR}}"
            ng-attr-cx="{{wire.sourceCoordX()}}" 
            ng-attr-cy="{{wire.sourceCoordY()}}"/>
        <!--/circle-->

        <circle
            ng-attr-class="{{wire.selected() && 'selected-wire-endpoint' || (wire == mouseOverWire && 'mouseover-wire-endpoint' || 'wire-endpoint')}}"
            ng-attr-r="{{wireEndpointR}}"
            ng-attr-cx="{{wire.destCoordX()}}" 
            ng-attr-cy="{{wire.destCoordY()}}"/>
    </g>
  </g>


  <g ng-if="draggingWire">
    <path class="dragging-wire dragging-wire-line"
      ng-attr-style="stroke: {{draggingWireColor}};"
      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y}}
                 C {{dragTangent1.x}}, {{dragTangent1.y}}
                   {{dragTangent2.x}}, {{dragTangent2.y}}
                   {{dragPoint2.x}}, {{dragPoint2.y}}"/>
     
    

    <circle class="dragging-wire dragging-wire-endpoint"
        ng-attr-r="{{dragPointR}}"
        ng-attr-cx="{{dragPoint1.x}}" 
        ng-attr-cy="{{dragPoint1.y}}"/>

    <circle class="dragging-wire dragging-wire-endpoint"
        ng-attr-r="{{dragPointR}}"
        ng-attr-cx="{{dragPoint2.x}}" 
        ng-attr-cy="{{dragPoint2.y}}"/>
  </g>


  <rect class="drag-selection-rect"
      ng-if="dragSelecting"
      ng-attr-x="{{dragSelectionRect.x}}"
      ng-attr-y="{{dragSelectionRect.y}}"
      ng-attr-width="{{dragSelectionRect.width}}"
      ng-attr-height="{{dragSelectionRect.height}}"/>



  
</svg>
